@page "/"

<PageTitle>Index</PageTitle>

<h1>Static Web App!</h1>

Welcome to the New demo.
<LoginDisplay />
@*<a style="margin-right: 10px;" class="btn btn-primary btn-sm" href="/.auth/login/aad" v-if="!user.userDetails">Login</a>*@
<SurveyPrompt Title="Are you still loving this Azure Static Web App Demo?" />
